//fluid font sizing
@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluidFontSize($minFontSize, $maxFontSize, $minVw: 32rem, $maxVw: 120rem) {
    
    $u1: unit($minFontSize);
    $u2: unit($maxFontSize);
    $u3: unit($minVw);
    $u4: unit($maxVw);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            font-size: $minFontSize;
            line-height: calc(#{$minFontSize} + 5px);
            @media (min-width: $minVw) {
                $fluidSize: calc(#{$minFontSize} + #{stripUnit($maxFontSize - $minFontSize)} * ((100vw - #{$minVw}) / #{stripUnit($maxVw - $minVw)}));
                font-size: $fluidSize;
                line-height: calc(#{$fluidSize} + 5px);
            }
            @media (min-width: $maxVw) {
                font-size: $maxFontSize;
                line-height: calc(#{$maxFontSize} + 5px);
            }
        }
    }
}

//animated underline on hover
@mixin animatedUnderline($color, $el) {
    a {
        position: relative;
    }
    a:after {
        content: '';
        height: 1.5px;
        position: absolute;
        bottom: -5px;
        background: $color; 
        width: 0;
        left: 50%;
        transition: width 0.3s, left 0.3s;
    }
    #{$el}:hover a:after, #{$el}:focus-within a:after {
        width: 100%;
        left: 0;
    }
}

//media-queries
@mixin tablet {
    @media (max-width: 900px) {
        @content;
    }
}

@mixin smallTablet {
    @media (max-width: 750px) {
        @content;
    }
}

@mixin largePhone {
    @media (max-width: 550px) {
        @content;
    }
}

@mixin smallPhone {
    @media (max-width: 450px) {
        @content;
    }
}

@mixin minWidth {
    @media (min-width: 1200px) {
        @content;
    }
}