
//fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Merienda+One&display=swap');
$fontBody: 'Barlow', sans-serif;

//colours
$colorGreen: #bcbca6;
$colorGreenTransparent: #bcbca6cc;
$colorBrown: #545152;
$colorBrownTransparent: #545152c9;
$colorLight: #cccdcf;
$colorLightTransparent: #cccdcfee;