
//fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Merienda+One&display=swap');
$fontBody: 'Barlow', sans-serif;

//colours
$colorGreen: #97a195;
$colorGreenTransparent: #97a195b7;
$colorBrown: #3a3537;
$colorBrownTransparent: #3a3537c9;
$colorLight: #cccdcf;
$colorLightTransparent: #cccdcfee;