
//fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Merienda+One&display=swap');
$font-header: 'Merienda One', cursive;
$font-body: 'Barlow', sans-serif;

//colours
$color-green: #BCBCA6;
$color-green-transparent: #bcbca6cc;
$color-beige: #CDC4B9;
$color-beige-transparent: #cdc4b9a2;
$color-brown: rgb(84, 81, 82);
$color-brown-transparent: #545152c9;
$color-light: #cccdcf;
$color-light-transparent: #cccdcfee;