
//sass files
@import './_setup.scss';
@import './_variables.scss';
@import './_mixins.scss';


/* ||||||||||| BASE ||||||||||| */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: $color-green-transparent;
    font-family: $font-body;
    color: $color-brown;
    @include fluidFontSize(1.7rem, 2rem);
}

//react root div
body > div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    max-width: 1200px;
    width: 98%;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    width: 100%;

    //MQ: center flex items and remove margin
    @include tablet {
        & {
            // margin: 0;
            align-items: center;
        }
    }

    // //MQ: move up on page
    // @include largePhone {
    //     & {
    //         margin-top: 28vw;
    //     }
    // }

    // @include smallPhone {
    //     & {
    //         margin-top: 23vw;
    //     }
    // }

    // //hard code top position beyond max width
    // @include minWidth {
    //     & {
    //         margin-top: 245px;
    //     }
    // }
}

section {
    width: 100%;
}

h2 {
    @include fluidFontSize(2.2rem, 2.8rem);
    margin-bottom: 15px;
}

h3, .wordInputForm label {
    @include fluidFontSize(1.8rem, 2.2rem);
}

p {
    padding: 5px 0;
}

a {
    text-decoration: none;
    color: $color-light;
    font-family: $font-body;
}

/* ||||||||||| HEADER + BACKGROUND ||||||||||| */

//background, header + instructions images
.background {
    position: relative;
    overflow: hidden;
    min-height: 860px;
    max-height: 920px;
    padding-bottom: 10px;

    @include tablet {
        & {
            max-height: unset;
        }
    }

    @include largePhone {
        & {
            max-height: unset;
            min-height: 90vh;
        }
    }
}

.backgroundImg, .backgroundImgMobile {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -10;
}

.backgroundImg {
    @include largePhone {
        display: none;
    }
}

.backgroundImgMobile {
    display: none;

    @include largePhone {
        display: block;
    }
}

.headerImg {
    max-width: 400px;
    width: 40vw;
    margin-top: 25px;
    margin-left: 5px;
    position: absolute;
    z-index: -5;
}

//constructing instructions and reset signs
.sign {
    background-color: $color-brown;
    padding: 8px;
    border-radius: 8px;
    width: unset;
    color: $color-light;
    @include fluidFontSize(1.8rem, 3rem);
    box-shadow: 2px 1px 2px 1px $color-brown-transparent;
    margin-top: 20px;

    div {
        border: solid $color-light 3px;
        border-radius: 5px;
        padding: 8px;
        position: relative;
    }

    button, a {
        border: none;
        background: transparent;
        color: $color-light;
        font-family: $font-body;
        font-weight: 500;
        padding: 0;
    }

    .signPole {
        background-color: $color-brown;
        width: 10px;
        height: 140px;
        position: absolute;
        box-shadow: 2px 0px 2px 1px $color-brown-transparent;
        right: 45%;
        top: 55px;
        z-index: -10;
    }

    &.instructions {
        margin-right: 53px;
    }

    &.path {
        margin-right: 20px;
    }

    &.reset {
        top: 595px;
        right: 100px;
        position: absolute;
    }

    //MQ: hide pole, change position and color
    @include tablet {
        & {
            background-color: $color-light;
            color: $color-brown;

            a {
                color: $color-brown;
            }

            div {
                border: solid $color-brown 3px;
                padding: 5px;
            }

            button {
                color: $color-brown;
            }
        
            .signPole {
                display: none;
            }

            &.instructions, &.path {
                margin-right: 5%;
            }

            &.reset {
                position: unset;
                display: inline-block;
                margin-left: 5%;
            }
        }
    }

    @include largePhone {
        & {
            padding: 5px;

            & div {
                padding: 3px;
            }
        }
    }
    
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;


    li {
        display: inline-block;
    }

    a {
        color: $color-light;
    }
}

li .instructions {
    position: absolute;
    top: 0px;
}

/* /||||||||||| MODAL ||||||||||| */

//background
.modal {
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $color-light-transparent;
}

//content
.modalContent {
    background-color: $color-brown;
    color: $color-light;
    margin: 2% auto;
    padding: 15px;
    border-radius: 15px;
    width: 90%;
    position: relative;

    //light inner border
    div {
        border: 4px solid $color-light;
        border-radius: 10px;
        padding: 20px;
    }

    h2 {
        margin: 10px 0;
    } 

    ol {
        list-style: decimal;
    }

    li {
        margin-left: 25px;
    }

    p {
        margin-left: 10px;
    }

    .haikuExample {
        padding: 0;
    }

    //MQ: increase width
    @include tablet {
        & {
            padding: 10px;
        }
    }
    
    @include largePhone {
        & {
            width: 95%;
        }

        & div {
            padding: 12px;
        }
    }
}

//close button
.close {
    color: $color-light;
    font-size: 4rem;
    position: absolute;
    top: 15px;
    right: 30px;
    margin: 0;
    padding: 0;
    z-index: 20;
    background-color: transparent;
    border: none;
    transition: transform 0.3s linear; //scale on hover

    //MQ: decrease size of close button
    @include tablet {
        & {
            font-size: 3.5rem;
        }
    }
}

.close:hover, .close:focus {
    transform: scale(1.1);
} 


/* ||||||||||| INPUT + PROGRESS SECTIONS ||||||||||| */

.wordInputSection, .progressSection, .collectionSection {
    padding: 30px;
    width: 60%;
    background-color: $color-light-transparent;
    box-shadow: 2px 2px 6px 4px $color-brown-transparent;
    border-radius: 6px;

    //MQ: increase width
    @include tablet {
        & {
            width: 90%;
        }
    }

    @include largePhone {
        & {
            padding: 18px;
        }
    }
}

.progressSection {
    margin: 30px 0 10px; 
    
    h3 {
        margin-bottom: 15px;
    }

    div:not(.sign >) {
        margin: 10px 0 5px;
    }

    .submit {
        margin: 15px 0 0;
    }
    //MQ: adjust margin and center
    @include tablet {
        & {
            margin: 30px auto 10px;
        }
    }
}


input[type="text"], .progressSection > div:not(.sign), .wordButton {
    background-color: $color-brown;
    border-radius: 5px;
    color: $color-light;
    border: none;
}

input[type="text"], .progressSection > div:not(.sign) {
    padding: 15px;
    width: 100%;

    //MQ: reduce padding
    @include largePhone {
        & {
            padding: 12px;
        }
    }
}

input[type="text"] {
    width: calc(100% - 5px);
    margin: 10px 0px 20px 5px;
    transition: box-shadow 0.5s, transform 0.2s;

    //MQ: shift left to align with buttons
    @include smallPhone {
        & {
            margin: 10px 0px 20px 3px;
            width: calc(100% - 3px);
        }
    }
}

input[type="text"]:focus {
    transform: scale(1.01);
    box-shadow: 1px 1px 3px 1px $color-brown-transparent;
}

//haiku building section
.wordInputSection, .progressSection.complete {
    align-self: flex-end;
    margin: 0 auto;

    h3 {
        margin-bottom: 5px;
    }

    //MQ: unset alignment and remove margin
    @include tablet {
        & {
            align-self: unset;
        }
    }
}

//word buttons
.wordButton {
    margin: 5px;
    padding: 10px 12px;
    position: relative;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, transform 0.2s;

    //MQ: reduce space between
    @include smallPhone {
        & {
            margin: 3px;
        }
    }
}

.wordButton:hover, .wordButton:focus {
    background-color: $color-green;
    color: $color-brown;
    transform: scale(1.05);
    box-shadow: 1px 1px 3px 1px $color-brown-transparent;
}

//collection section
.collectionSection {
    width: 90%;
    margin: 0 auto;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    margin-top: 125px;

    h2 {
        width: 100%;
    }

    div {
        background-color: $color-brown;
        border-radius: 5px;
        box-shadow: 1px 1px 3px 1px $color-brown-transparent;
        color: $color-light;
        padding: 10px 25px;
        margin: 10px;
        width: calc(100% / 2 - 20px);
        position: relative;

        p:first-of-type {
            margin-top: 12px;
        }
        // MQ: reducing size
        @include smallTablet {
            & {
                width: 100%;
            }
        }
    }

    .close {
        top: 2.5px;
        right: 12.5px;
    }
}


/* ||||||||||| FOOTER ||||||||||| */

footer {
    width: 100%;
    background-color: $color-brown;
    border-top: $color-light 5px solid;
    color: $color-light;
    text-align: center;
    padding: 20px 10px;
    box-shadow: 0px -4px 6px $color-brown;

    p {
        @include animatedUnderline($color-light, "span");
    }

    img {
        width: 50px;
    }

    > div {
        display: flex;
        justify-content: space-between;
    }

    .footerImgRight {
        rotate: 180deg;
    }

    @include largePhone {
        img {
            display: none;
        }
    }
}